#root {
  max-width:1380px;
  margin:  auto;
  padding: 12px; 
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color:rgb(83, 77, 237);
  

}
.container{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  background-color: rgb(255, 255, 255);  
  margin:8px;
  border: 2px solid black ;
  border-radius: 15px;
 
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.btn{
  background-color: #63d8ea;
  color: white;
  width:250px;
  border-radius: 20px;
  margin-top: 15px;
  padding: 10px;
  font-size: 0.7em;
  font-weight: 600

}
.btn:hover{
  background-color: #051fe4;
  filter: drop-shadow(rgb(2, 164, 224));
  text-align: center;
  color: aliceblue;

 }
 .notIncluded {
  color: #c5bbbb;
}
h5{
  margin-top: 10px;
}

.footer{
  display: flex;
  flex-direction: column;
}
